* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.signup-container {
    background-color: #1B2A41;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.close-btn {
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    position: signup-container;
    top: 10px;
    right: 10px;
    background: none;
}

button {
    background-color: #2ECC71;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

p {
    margin-top: 15px;
    color: white;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
    .signup-container {
        padding: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 10px;
    }
}
